apiVersion: v1
kind: Service
metadata:
  name: app1
  namespace: dev
spec:
  type: NodePort
  selector:
    app: app1
  ports:
    - name: web
      port: 80
      targetPort: web
      nodePort: 30080
